#container{
	width:500px;
	height:500px;
	position: relative;
	top:50%;
	left:50%;
	margin-left:-250px;
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;	
 }

.slider{
	width: 95%;
	margin: auto;
	overflow: hidden;
	margin-top: -21.8px;
}

.slider ul{
	display: flex;
	padding: 0;
	width: 500%;
	animation: change-image 20s infinite; 
	animation-direction: alternate;
}

.slider li{
	width: 25%;
	list-style: none;
}

.slider img{
	width:100%;
}

@keyframes change-image{
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

.menu{
	display: block;
	background: #3E4156;
	margin-top:-20px;
	margin-left: 32px;
	width: 92.2%;
}

.menu li{
	display: inline-block;
	position: relative;
	z-index: 100;
}

.menu li a{
	font-weight: 600;
	text-decoration: none;
	padding: 11px;
	display: block;
	color:#ffffff;
	transition: all 0.2s ease-in-out 0s;
}

.menu li a:hover, .menu li:hover > a{
	color:#ffffff;
	background:#9CA3DA;
}

#brand{
	width: 35% ;
	height: 35%;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 36%;
    background-size: 80% auto;    
    cursor: pointer;  
}

.rotate:hover{
	background:#53a7ea;
}

#footer{
	width: 100%;
	height: 28px;
	color: white;
	position: relative;
	bottom: 0px; 
	left: 0px; 
	text-align: center; 
}

header{
	position: relative;
    z-index: 1000;
    width:101%;
    height: 140px;
    top: -7px;
    margin-left:-7px;
}

.vehicle{
	position: relative;
	width:75%;
	height:2600px;
	display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    top: 50%;
    margin-left: 2.5%;
    padding: 16px;
    overflow: auto;
    border-radius: 5px;   
}

.order{
	width: 950px;
	height: 350px;
  	border-top: solid white;
  	border-bottom:solid white;
  	border-left: solid white;
  	border-right: solid white;
  	border-radius: 5px;
  	display: flex;
  	flex-direction: row;
  	align-content: center;
  	justify-content: space-around;
  	align-items: center;
  	background:#9565F5; 
  }

 .table{
 	background:#34495E;
  	color: #fff;
 	border-radius: 5px;
  	overflow: hidden;  	
  	height: 110px;
  	border-collapse: separate;
  	text-align: center;

 }
 
 table th, td:before {
    color: #dd5;
    width: 80px absolute;

 }

table tr:nth-child(even) {
	background-color:#BAF7BA;
	color: blue;
	font-weight: bold;	
}

legend{
	font-size: 150%;
	font-weight: bold;
  	letter-spacing: -1px;
  	color:#07075B;
}

